body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  position: relative;
  color: #757575;
  background: #ffffff;
}
:hover,
:focus {
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-phone:hover,
.icon-mail:hover,
a:focus,
a:hover,
.icon-btn:hover,
.icon-btn:focus {
  --color2: #2196f3;
  --color5: #2196f3;
  --color3: #2196f3;
  color: #2196f3;
  border-color: #2196f3;
}
h4 {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.list-clients {
  display: flex;
  justify-content: center;
}
.icon-client {
  margin: 15px;
}
.icon-btn {
  background: none;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 17.71px 32px 14.25px 32px;
}
h5 {
  color: #212121;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: -8px;
}
ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}
h3 {
  color: #ffffff;
}
.btn-order:hover {
  color: #000000;
}
.btn-order:focus {
  color: #000000;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.address-tel,
.address {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
  gap: 46px;
}
.nav-header-item,
.address-mail,
.address-tel,
.portfolio-list {
  text-decoration: none;
}
.address-mail {
  display: flex;
}
.nav-header-item {
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.address {
  margin-left: auto;
  justify-content: flex-end;
  gap: 30px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
  text-align: left;
}
.address-mail,
.address-tel {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-align: left;
}

.section-baner {
  background-image: linear-gradient(#2f303a40, #2f303a40),
    url(../images/background-baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  align-items: center;
}
.baner-text {
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.box-baner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 225px;
  margin-right: 225px;
  margin-top: 106px;
  margin-bottom: 106px;
}
.btn-baner {
  padding-top: 40px;
}
.btn-order {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border: 0;
  border-radius: 4px;
}
.box-skills {
  list-style: none;
  display: flex;
  font-size: 14px;
  width: 1170px;
  height: 95px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  justify-content: space-between;
}
.box-skills-icons {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}
.box-skills-icons {
  padding-bottom: 30px;
}
.skill-icon {
  height: 120px;
  width: 270px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 30px;
}
.skill {
  width: 270px;
  height: 95px;
  text-align: left;
  line-height: 24px;
}
.title1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 35px;
}
.box-img {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.image {
  margin: 15px;
  padding: 0;
  position: relative;
}
.title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 35px;
}
.title3 {
  padding-bottom: 20px;
}
.team-cards {
  display: flex;
  justify-content: center;
  line-height: 2.8;
  text-align: center;
}
.card {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.footer-list {
  padding-top: 11px;
}
.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}
.address-item {
  margin-top: 20px;
}
.footer-address {
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}
.mail-footer {
  letter-spacing: 0.03em;
  text-decoration: underline;
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.tel-footer {
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
ul {
  list-style-type: none;
}
.btn:hover {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.bt:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn {
  height: 38px;
  background: #f5f4fa;
  font-size: 16px;
  border-radius: 4px;
  border: #757575;
  font-style: normal;
  line-height: 0.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  margin-right: 8px;
}

.post-figure:hover,
.post-figure:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.post-figure {
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  margin: 0%;
  padding-bottom: 5%;
  line-height: 2.8;
}
.list-post {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.section-btn {
  padding-top: 94px;
}
.text-post {
  line-height: 36px;
  margin-left: 24px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-img {
  padding-bottom: 94px;
}
.logo-web {
  color: #2196f3;
}
#btn {
  margin-right: 8px;
}
.list-social-media {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 16px;
}
.media-btn {
  border-radius: 50%;
  border: none;
  background: none;
  width: 44px;
  height: 44px;
}
.media-btn:hover,
.media-btn:focus {
  background-color: #2196f3;
  --color3: #fff;
}
.footer-socialmedia {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  --color3: #2196f3;
}
.social-icon-white {
  width: 20px;
  height: 20px;
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.section-footer {
  display: flex;
  padding-left: px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #2f303a;
  justify-content: left;
}
.container-footer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
  align-items: center;
  gap: 70px;
}
.box-social {
  padding-bottom: 40px;
}
.title-img {
  padding: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.focus-page::after {
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.focus-page {
  position: relative;
  text-decoration: none;
  color: #2196f3;
  fill: #2196f3;
}
